* {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  font-size: 60px;
  background-color: blue;
  position: fixed;
}

button {
  border-radius: 10%;
  margin: 20px;
  float: right;
  position: sticky;
}

aside {
  width: 20vw;
  background-color: royalblue;
}

#left {
  float: left;
  height: 1400px;
}

#rigth {
  float: right;
  height: 1300px;
}

main {
  display: inline-block;
  background-color: aquamarine;
  height: 1300px;
  width: 60vw;
}

footer {
  background-color: steelblue;
  display: flex;
  height: 100px;
}

div {
  padding-top: 100px;
}
