.alldivs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 60px;
  grid-template-areas:
    "header header header"
    "aside1 main aside2 "
    "aside1 footer footer";
}
.header {
  grid-area: header;
  background-color: aquamarine;
  text-align: center;
  padding: 30px;
}
button {
  border-radius: 10px;
  margin: 20px;
  float: right;
  position: sticky;
}
.aside1 {
  grid-area: aside1;
  background-color: cadetblue;
  text-align: center;
  padding: 30px;
}
.main {
  grid-area: main;
  background-color: azure;
  text-align: center;
  padding: 30px;
}
.aside2 {
  grid-area: aside2;
  background-color: cadetblue;
  text-align: center;
  padding: 30px;
}
.footer {
  grid-area: footer;
  background-color: darkcyan;
  text-align: center;
  padding: 30px;
}
